.pytest_cache
/dist
/input
/params
/pickle
/results
/tmalign
/pytestemp
__pycache__
.DS_Store
.idea

.idea/deployment.xml

.idea/inspectionProfiles/profiles_settings.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/jupyter-settings.xml

.idea/lol-ColabFold.iml

.idea/material_theme_project_new.xml

.idea/misc.xml

.idea/modules.xml

.idea/rGraphicsSettings.xml

.idea/rSettings.xml

.idea/ruff.xml

.idea/vcs.xml

.idea/workspace.xml

extra_utils/foldseek.smk

colabfold/bayer/wip/
